config MTK_KXTJ2_1009
	bool "KXTJ2_1009 for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          KXTJ2_1009 Accelerometer.

config CUSTOM_KERNEL_SENSORHUB
	bool "MTK_KXTJ2_1009 for Mediatek package"
	default n
	help
	Say Y here if you have MTK_KXTJ2_1009 touch panel CUSTOM_KERNEL_SENSORHUB.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.